{% include 'assets/head.html.twig' %}
{% include 'assets/navbar.dm.html.twig' %}


{% block body %}


<section class="d-flex flex-column mt-5">
    <div class="campaign d-flex justify-content-between border-bottom border-primary mx-5">
        <div>
            <h1 class="text-secondary">{{ campaign.name }}</h1>
                <div class="campaign__invitation-code d-flex align-items-center pb-3">
                    <h4 class="text-secondary fw-bold me-2 align-self-center mb-0"> Code d'invitation : </h4>
                    <p class="fs-5 me-2 text-secondary align-self-center mb-0">{{ campaign.invitationCode}}</p>
                    {# TODO: Récupérer en js le code pour le copier dans le presse papier #}
                    <img class="campaign__invitation-code-icone" src="{{ asset('icone/copie.png') }}" alt="icone-copier">
                </div>
        </div>
        <div class="campaign__button d-flex">
            <div class="d-flex flex-column justify-content-center me-5"><a href="{{ path('dm_add_campaign') }}" class="btn btn-secondary">Créer une campagne</a></div>
            <div class="d-flex flex-column justify-content-center me-5"><a href="{{ path('dm_edit_campaign', {'id': campaign.id}) }}" class="btn btn-secondary">Modifier la campagne</a></div>
            <div class="d-flex flex-column justify-content-center me-5"><a href="{{ path('dm_delete_campaign', {'id': campaign.id}) }}" class="btn btn-danger">Supprimer la campagne</a></div>
        </div>
    </div>
    <div class="d-flex justify-content-center mx-5 mt-2">
        <div class="campaign__description mx-2 w-50">
            <h4 class="text-secondary fw-bold"> Déscription :</h4>
            <p class="fs-5 mt-4 text-secondary overflow-auto h-75">{{ campaign.description }}</p>
        </div>
        <div class="campaign__memo mx-2 w-50">
            <h4 class="text-secondary fw-bold"> Mémo :</h4>
            <p class="fs-5 mt-4 text-secondary overflow-auto h-50 mb-5">{{ campaign.memo }}</p>
        </div>
    </div>
</section>

<section id="team" class="scroll">
    <div class="d-flex justify-content-evenly align-items-center mt-5 flex-wrap">

            <div class="d-flex flex-column align-items-center w-25">
                <div class="card mb-3 w-75">
                    <img class ="overflow-hidden" src="{{ asset('images/campaigns/campaign_1.jpg') }}" alt="logo-campaign">
                    <div class="card-body">
                        <p class="card-text text-center fw-bold fs-3">Histoires</p>
                        <p class="card-text text-center fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis similique reprehenderit sapiente incidunt commodi vitae voluptatum quasi, consequuntur quo tempore aliquid facere quos dicta at soluta rem magni totam dolorum aut, dignissimos...</p>
                    </div>
                    <div class="card-body d-flex justify-content-evenly">
                        <a href="#" class="card-link bg-secondary rounded-3 p-2 text-decoration-none">Détails</a>
                        <a href="#" class="card-link bg-secondary rounded-3 p-2 text-decoration-none">Ajouter</a>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column align-items-center w-25">
                <div class="card mb-3 w-75">
                    <img class ="overflow-hidden" src="{{ asset('images/campaigns/campaign_1.jpg') }}" alt="logo-campaign">
                    <div class="card-body">
                        <p class="card-text text-center fw-bold fs-3">Joueurs</p>
                        <p class="card-text text-center fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis similique reprehenderit sapiente incidunt commodi vitae voluptatum quasi, consequuntur quo tempore aliquid facere quos dicta at soluta rem magni totam dolorum aut, dignissimos...</p>
                    </div>
                    <div class="card-body d-flex justify-content-evenly">
                        <a href="#" class="card-link bg-secondary rounded-3 p-2 text-decoration-none">Détails</a>
                        <a href="#" class="card-link bg-secondary rounded-3 p-2 text-decoration-none">Ajouter</a>
                    </div>
                </div>
            </div>
        
            <div class="d-flex flex-column align-items-center w-25">
                <div class="card mb-3 w-75">
                    <img class ="overflow-hidden" src="{{ asset('images/campaigns/campaign_1.jpg') }}" alt="logo-campaign">
                    <div class="card-body">
                        <p class="card-text text-center fw-bold fs-3">PNJ</p>
                        <p class="card-text text-center fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis similique reprehenderit sapiente incidunt commodi vitae voluptatum quasi, consequuntur quo tempore aliquid facere quos dicta at soluta rem magni totam dolorum aut, dignissimos...</p>
                    </div>
                    <div class="card-body d-flex justify-content-evenly">
                        <a href="#" class="card-link bg-secondary rounded-3 p-2 text-decoration-none">Détails</a>
                        <a href="#" class="card-link bg-secondary rounded-3 p-2 text-decoration-none">Ajouter</a>
                    </div>
                </div>
            </div>
        
            <div class="d-flex flex-column align-items-center w-25">
                <div class="card mb-3 w-75">
                    <img class ="overflow-hidden" src="{{ asset('images/campaigns/campaign_1.jpg') }}" alt="logo-campaign">
                    <div class="card-body">
                        <p class="card-text text-center fw-bold fs-3">Cartes</p>
                        <p class="card-text text-center fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis similique reprehenderit sapiente incidunt commodi vitae voluptatum quasi, consequuntur quo tempore aliquid facere quos dicta at soluta rem magni totam dolorum aut, dignissimos...</p>
                    </div>
                    <div class="card-body d-flex justify-content-evenly">
                        <a href="{{ path('dm_map_browse') }}" class="card-link bg-secondary rounded-3 p-2 text-decoration-none">Détails</a>
                        <a href="{{ path('dm_map_browse') }}" class="card-link bg-secondary rounded-3 p-2 text-decoration-none">Ajouter</a>
                    </div>
                </div>
            </div>
    </div>
</section>
{% endblock %}
