<header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="logo-link" href="{{ path('home') }}"><img class="logo" src="{{ asset('images/logo_odonjon.png') }}" alt="logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ path('dm_home') }}">Campagnes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('dm_map_browse') }}">Cartes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('player_home') }}">Histoires</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('player_home') }}">Personnages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('player_home') }}">PNJ</a>
              </li>
            </ul>
            <ul class="d-flex navbar-nav me-3">
              <li class="nav-item">
                <a class="nav-link" href="#">Profil</a>
              </li>
            </ul>
            <ul class="d-flex navbar-nav me-3">
              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">Deconnexion</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>