{% extends 'base.html.twig' %}

{% block title %}O'donjon{% endblock %}

{% block body %}

<div class="background">
{# <aside class="position-absolute top-50 end-0">
    <span class="d-flex align-items-center">
        <p class="d-flex align-items-center me-2">HOME</p>
        <img class="dot " src="{{ asset('images/dot.png') }}" alt="logo-ranger">
    </span>
    
    <span class="d-flex align-self-center">
        <p class="d-flex align-items-center me-2">LE PROJET</p>
        <img class="dot " src="{{ asset('images/dot.png') }}" alt="logo-ranger">
    </span>
        
    <span class="d-flex align-items-center">
        <p class="d-flex me-2">LA TEAM</p>
        <img class="dot " src="{{ asset('images/dot.png') }}" alt="logo-ranger">
    </span>    
</aside> #}
    <section id="home" class="scroll">
        <div class="d-flex justify-content-center flex-column vh-100">
            <div class="d-flex flex-column align-items-center align-self-center">
            <h1 class="big-title fw-bold m-4">O' Donjon</h1>
            <p class="fs-4">Y' à des dragons aussi !</p>
            <a href ="{{ path('app_login') }}" class="btn btn-secondary">Je veux Jouer !</a>
            </div>
        </div>
    </section>

    <section id="project" class="scroll">
        <div class="d-flex justify-content-center flex-column align-items-center vh-100">
            <h1 class="big-title fw-bold m-4">Le Projet</h1>
            <div class="d-flex flex-column align-items-center w-50 h-40 bg-secondary rounded-3">
                <p class="text-center m-4 fs-5">Donjon & Dragon est un jeu de rôle qui se joue à plusieurs avec des dés.</p>
                
                <p class="text-center m-4 fs-5">A la base, comme son nom l'indique, il s'agissait d'explorer un donjon, créé par un joueur ou tiré d'un livre officiel, en incarnant un personnage. Une personne joue le rôle du Dungeon Master (DM) qui dirige le donjon et tous les monstres qui s'y trouvent pendant que les autres joueurs incarnent chacun un personnage.</p>

                <p class="text-center m-4 fs-5">Au fil des ans, le jeu a pas mal évolué et s'est beaucoup complexifié. Les lieux du déroulement des parties ne se limitent plus à de simples donjons et on peut trouver des livres décrivant des épopées qui peuvent durer plusieurs mois d'affilés !</p>
                
                <p class="text-center m-4 fs-5">Le but du projet est d'aider les DM et les joueurs à centraliser toutes les informations dont ils ont besoin lors d'une partie et d'y avoir accès rapidement, sans devoir garder des dizaines de feuilles volantes.</p>
            </div>
        </div>
    </section>

    <section id="team" class="scroll">
        <div class="d-flex justify-content-evenly align-items-center vh-100">
            <div class="d-flex flex-column align-items-center w-25">
                <div class="card mb-3 w-50">
                <img src="{{ asset('images/avatar/ranger.jpg') }}" alt="logo-ranger">
                    <div class="card-body">
                        <p class="card-text text-center fw-bold fs-4">Nicolas Vidal</p>
                    </div>
                    <div class="card-body d-flex justify-content-evenly">
                        <a href="#" class="card-link bg-secondary rounded-3 p-2">GitHub</a>
                        <a href="#" class="card-link bg-secondary rounded-3 p-2">Linkedin</a>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column align-items-center w-25">
                <div class="card mb-3 w-50">
                    <img src="{{ asset('images/avatar/voleur.jpg') }}" alt="logo-ranger">
                    <div class="card-body">
                        <p class="card-text text-center fw-bold fs-4">Nael Broussard</p>
                    </div>
                    <div class="card-body d-flex justify-content-evenly">
                        <a href="#" class="card-link bg-secondary rounded-3 p-2">GitHub</a>
                        <a href="#" class="card-link bg-secondary rounded-3 p-2">Linkedin</a>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column align-items-center w-25">
                <div class="card mb-3 w-50">
                    <img src="{{ asset('images/avatar/magicienne.jpg') }}" alt="logo-ranger">
                    <div class="card-body">
                        <p class="card-text text-center fw-bold fs-4">Cecile Bouche</p>
                    </div>
                    <div class="card-body d-flex justify-content-evenly">
                        <a href="#" class="card-link bg-secondary rounded-3 p-2">GitHub</a>
                        <a href="#" class="card-link bg-secondary rounded-3 p-2">Linkedin</a>
                    </div>
                </div>
            </div>

        </div>      
    </section><!-- team -->
</div><!-- Main -->

{% endblock %}

{% block javascripts %}
{# {{ encore_entry_script_tags('scroll') }} #}
{% endblock %}
